[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beancount = {ref = "v2", git = "https://github.com/beancount/beancount.git"}
fava = "*"
pypdf = ">=3.17.0"

[dev-packages]

[requires]
python_version = "3.11"
