[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beancount = "2.3.6"
fava = "1.27.3"
pypdf = ">=3.17.0"
werkzeug = ">=3.0.3"
setuptools = "*"
quiffen = "2.0.10"

[dev-packages]

[requires]
python_version = "3.12"
